<div class="row">
  <div class="col-md-4 offset-md-4 text-center" id="title">
    <img src="assets/withgo.png" width="250">
  </div>
  <div class="col-md-4 auto-margin">
    <button pButton type="button" (click)="goToAddEvent()" label="이벤트 만들기"
      class="float-right ui-button-secondary"></button>
    <button pButton type="button" label="이상훈님" class="float-right ui-button-rounded ui-button-success"></button>
  </div>
</div>
<div class="row">
  <ng-container *ngFor="let event of events">
    <div class="col-md-4">
      <event [data]="event"></event>
    </div>
  </ng-container>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <p-paginator [rows]="10" totalRecords="100" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)">
    </p-paginator>
  </div>
</div>